<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.FirstProject.badplace.dao.BadPlaceDAO"> 
 
 	<select id="selectList" resultType="com.FirstProject.goodplace.model.Place" parameterType="map">
 		select 
 			* 
 		from 
 			place
 		WHERE
 			`placeWhether` = 'b'
 		AND `userId` = #{place.userId}
 		<if test="place.startDay != null and place.endDay != null  and place.startDay != '' and place.endDay != '' " >
 		AND
 		DATE_FORMAT(`placeCreatedAt`, '%Y-%m-%d') BETWEEN #{place.startDay} AND #{place.endDay}
 		</if>
 		<if test="place.placeArea != null and place.placeArea != '' ">
 		AND
 		`placeArea` = #{place.placeArea}
 		</if>
 		<if test="place.placeKategorie != null and place.placeKategorie != '' ">
 		AND
 		`placeKategorie` = #{place.placeKategorie}
 		</if>
 		<if test="place.minPrice != '' and place.maxPrice != '' and place.minPrice != null and place.maxPrice != null">
 		AND
 		`placePrice` BETWEEN #{place.minPrice} AND #{place.maxPrice}
 		</if>
 		 <!-- <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(place.minGrade, place.maxGrade)"> -->
 		 <if test="place.minGrade != null and !place.minGrade.equals('') and place.maxGrade != null and place.maxGrade.equals('')">
 		 AND
 		`placeGrade` BETWEEN #{place.minGrade} AND #{place.maxGrade}
 		 </if>
 		ORDER BY placeCreatedAt DESC
 		LIMIT #{startNum}, #{endNum}
 	</select>
 	
 	<select id="selectListLimit3" resultType="com.FirstProject.goodplace.model.Place" parameterType="string">
 		select 
 			* 
 		from 
 			place
 		WHERE
 			`placeWhether` = 'b'
 		AND `userId` = #{userId}
 		ORDER BY placeCreatedAt DESC
 		LIMIT 3
 	</select>
 	
 	
 	<select id="selectImageByCategorie" parameterType="List" resultType="com.FirstProject.goodplace.model.PlaceImage">
 		SELECT
 			`id`
			,`placeId`
			,`imagePath`
			,`imageCreatedAt`
			,`imageUpdatedAt`
 		FROM
 			`placeimage`
 		 WHERE 1 = 1
  		 AND (`ID`, `PLACEID`) IN (
       	SELECT MIN(ID) AS ID, PLACEID
         FROM `PLACEIMAGE`
        WHERE PLACEID IN (
        <foreach collection="list" item="item" separator=",">
 			#{item.id}
 		</foreach>
        )
     	GROUP BY PLACEID
   		)
   		order by imageCreatedAt desc
 	</select>
 	<select id="selectPlaceByPlaceId" parameterType="int" resultType="com.FirstProject.goodplace.model.Place">
 		SELECT
 			`id`
			,`userId`
			,`placeWhether`
			,`placeKategorie`
			,`placeArea`
			,`placeGrade`
			,`placePrice`
			,`placeSubject`
			,`placeContent`
			,`placeCreatedAt`
			,`placeUpdatedAt`
 		FROM
 			place
 		WHERE
 			`placeWhether` = 'b'
 		AND
 			`id` = #{placeId}
 	</select>
 </mapper>