<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FirstProject.daily.dao.CommentDAO">
	<insert id="insertCommentByDailyIdandUserId" parameterType="com.FirstProject.daily.model.Comment" >
 		INSERT INTO `comment`
 		(
 			`category`
			,`id`
			,`userId`
			,`comment`
			,`commentCreatedAt`
			,`commentUpdatedAt`
 		)
 		VALUES
 		(
 			#{category}
 			,#{id}
 			,#{userId}
 			,#{comment}
 			, NOW()
 			, NOW()
 		)
 	</insert>

	<!--일상 댓글 갯수  -->
	<select id="selectCommentCountByDailyId" parameterType="int" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`comment`
		WHERE
			`category` = 'd'
		AND
			`id` = #{dailyId}
	</select>
	
	<!--맛집 댓글 갯수  -->
	<select id="selectGoodPlaceCommentCountByPlaceId" parameterType="int" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`comment`
		WHERE
			`category` = 'g'
		AND
			`id` = #{placeId}
	</select>
	
	<!--노맛집 댓글 갯수  -->
	<select id="selectBadPlaceCommentCountByPlaceId" parameterType="int" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`comment`
		WHERE
			`category` = 'b'
		AND
			`id` = #{placeId}
	</select>
	
	<select id="selectCommentListByDailyId" parameterType="int" resultType="com.FirstProject.daily.model.Comment">
		SELECT
			`commentId`
			,`category`
			,`id`
			,`userId`
			,`comment`
			,`commentCreatedAt`
			,`commentUpdatedAt`
		FROM
			`comment`
		WHERE
			`category` = 'd'
		AND
			`id` = #{dailyId}
	</select>
	
	<select id="selectGoodPlaceCommentListByPlaceId" parameterType="int" resultType="com.FirstProject.daily.model.Comment">
		SELECT
			`commentId`
			,`category`
			,`id`
			,`userId`
			,`comment`
			,`commentCreatedAt`
			,`commentUpdatedAt`
		FROM
			`comment`
		WHERE
			`category` = 'g'
		AND
			`id` = #{placeId}
	</select>
	<select id="selectbadPlaceCommentListByPlaceId" parameterType="int" resultType="com.FirstProject.daily.model.Comment">
		SELECT
			`commentId`
			,`category`
			,`id`
			,`userId`
			,`comment`
			,`commentCreatedAt`
			,`commentUpdatedAt`
		FROM
			`comment`
		WHERE
			`category` = 'b'
		AND
			`id` = #{placeId}
	</select>
	
	
	<select id="selectCommentOtherGoodPlaceListByPlaceId" parameterType="int" resultType="com.FirstProject.daily.model.Comment">
		SELECT
			`commentId`
			,`category`
			,`id`
			,`userId`
			,`comment`
			,`commentCreatedAt`
			,`commentUpdatedAt`
		FROM
			`comment`
		WHERE
			`category` = 'g'
		AND
			`id` = #{placeId}
	</select>
	
	<select id="selectCommentOtherbadPlaceListByPlaceId" parameterType="int" resultType="com.FirstProject.daily.model.Comment">
		SELECT
			`commentId`
			,`category`
			,`id`
			,`userId`
			,`comment`
			,`commentCreatedAt`
			,`commentUpdatedAt`
		FROM
			`comment`
		WHERE
			`category` = 'b'
		AND
			`id` = #{placeId}
	</select>
	
</mapper>