<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.FirstProject.daily.dao.FollowDAO">
 	<insert id="insertFollow" parameterType="com.FirstProject.daily.model.Follow">
 		
 		INSERT INTO FOLLOW
 		(
 			`USERID_FOLLOWER`
			,`USERID_FOLLOWED`
			,`FOLLOWCREATEDAT`
 		)
 		VALUES
 		(
 			#{USERID_FOLLOWER}
 			,#{USERID_FOLLOWED}
 			, NOW()
 		)
 	</insert>
 	
 	<delete id="deleteFollow" parameterType="com.FirstProject.daily.model.Follow">
		DELETE FROM
			FOLLOW
		WHERE
			`USERID_FOLLOWER` = #{USERID_FOLLOWER}
		AND
			`USERID_FOLLOWED` = #{USERID_FOLLOWED} 	
 	</delete>
 
 	<select id="selectFollowByUserId" resultType="com.FirstProject.login.model.User" parameterType="string">
 		SELECT
 			`userId`
			,`userPwd`
			,`userNickName`
			,`userProfilePhoto`
			,`userEmail`
			,`createdAt`
			,`updatedAt`
 		FROM `user`
 		WHERE `userId` IN 
 		(SELECT `USERID_FOLLOWER` FROM `follow` WHERE `USERID_FOLLOWED` = #{userId}) 
 	</select>
 	<select id="selectFollowCountByUserId" parameterType="string" resultType="int">
 		SELECT
 			COUNT(*)
		FROM
			`follow`
		WHERE
			`USERID_FOLLOWER` = #{userId}
 	</select>
 	
 	<select id="selectFollowedByUserId" resultType="com.FirstProject.login.model.User" parameterType="string">
 		SELECT
 			
 			`userId`
			,`userPwd`
			,`userNickName`
			,`userProfilePhoto`
			,`userEmail`
			,`createdAt`
			,`updatedAt`
 		FROM `user`
 		WHERE `userId` IN 
 		(SELECT `USERID_FOLLOWED` FROM `follow` WHERE `USERID_FOLLOWER` = #{userId}) 
 	</select>
 	<select id="selectFollowedCountByUserId" parameterType="string" resultType="int">
 		SELECT
 			COUNT(*)
		FROM
			`follow`
		WHERE
			`USERID_FOLLOWED` = #{userId}
 	</select>
 </mapper>