<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.FirstProject.goodplace.dao.FoodDAO">
 
 	<select id="selectFoodByPlaceId" parameterType="int" resultType="com.FirstProject.goodplace.model.Food">
 		
 		SELECT
 			`id`
			,`userId`
			,`placeId`
			,`foodName`
			,`foodPrice`
			,`foodCreatedAt`
			,`foodUpdatedAt`
 		FROM
 			food
 		WHERE
 			`placeId` = ${placeId}
 	</select>
 </mapper>