<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.FirstProject.daily.dao.LikeDAO">
 	
 	<!--daily like 쿼리 시작  -->
 	<insert id="insertLikeByDailyIdAndUserId" parameterType="map" >
 		INSERT INTO `like`
 		(	
 			`category`
			,`id`
			,`userId`
			,`likeCreatedAt`
			,`likeUpdatedAt`
 		)
 		VALUES
 		(
 			#{category}
 			,#{id}
 			,#{userId}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<delete id="deleteLikeByDailyIdAndUserId" parameterType="map">
 		DELETE FROM
 			`like`
 		WHERE
 			`category` = #{category}
 		AND	`id` = #{id}
 		AND `userId`= #{userId}
 	</delete>
 	
 	<select id="existLike" resultType="boolean" parameterType="map">
 		SELECT
 			COUNT(1)
 		FROM
 			`like`
 		WHERE
 			`category` = #{category}
 		AND	`id` = #{id}
 		AND `userId` = #{userId}
 	</select>
 	<select id="selectLikeCountByDailyIdAndUserId" resultType="int" parameterType="com.FirstProject.daily.model.Like">
 	
 		SELECT
 			COUNT(*)
 		FROM
 			`like`
 		WHERE
 			`category` = #{category}
 		AND
 			`id` = #{id}
 	</select>
 	
 	
 </mapper>