<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.FirstProject.daily.dao.LikeDAO">
 
 	<insert id="insertLikeByDailyIdAndUserId" parameterType="map" >
 		INSERT INTO `like`
 		(
			`dailyId`
			,`userId`
			,`likeCreatedAt`
			,`likeUpdatedAt`
 		)
 		VALUES
 		(
 			#{dailyId}
 			,#{userId}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<delete id="deleteLikeByDailyIdAndUserId" parameterType="map">
 		DELETE FROM
 			`like`
 		WHERE
 			`dailyId` = #{dailyId}
 		AND `userId`= #{userId}
 	</delete>
 	
 	<select id="existLike" resultType="boolean" parameterType="map">
 		SELECT
 			COUNT(1)
 		FROM
 			`like`
 		WHERE
 			`dailyId` = #{dailyId}
 		AND `userId` = #{userId}
 	</select>
 	<select id="selectLikeCountByDailyIdAndUserId" resultType="int" parameterType="int">
 	
 		SELECT
 			COUNT(*)
 		FROM
 			`like`
 		WHERE
 			`dailyId` = #{dailyId}
 	
 	</select>
 </mapper>