<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FirstProject.mypage.dao.MypageDAO">


	<update id="updateMyProfileByUserId" parameterType="com.FirstProject.login.model.User">
		UPDATE `user`
		SET
			`userProfilePhoto` = #{userProfilePhoto}
			, `updatedAt` = NOW()
		WHERE
			`userId` = #{userId}
	</update>
	
	<update id="updateMyOtherInfoByUserId" parameterType="com.FirstProject.login.model.User">
		UPDATE `user`
		SET
			`userNickName` = #{userNickName}
			, `userEmail` = #{userEmail}
			, `updatedAt` = NOW()
		WHERE
			`userId` = #{userId}
	</update>
	
	<delete id="deleteUserIdByUserId" parameterType="com.FirstProject.login.model.User">
		DELETE
			FROM
		`user`
		where userId = #{userId}
	</delete>
	
	<update id="updatePasswordInfoByUserId" parameterType="com.FirstProject.login.model.User">
		UPDATE `user`
		SET
			`userPwd` = #{userPwd}
			, `updatedAt` = NOW()
		WHERE
			`userId` = #{userId}
	</update>
</mapper>