<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FirstProject.goodplace.dao.PlaceImageDAO">

	<select id="selectPlaceImageByPlaceId" parameterType="int" resultType="com.FirstProject.goodplace.model.PlaceImage">
 		SELECT
 			`id`
			,`placeId`
			,`imagePath`
			,`imageCreatedAt`
			,`imageUpdatedAt`
 		FROM
 			placeimage
 		WHERE
 			`placeId` = #{placeId}
 	</select>
 	<select id="existPlaceImageListById" parameterType="com.FirstProject.goodplace.model.Place" resultType="int">
 		SELECT
 			`id`
			,`placeId`
			,`imagePath`
			,`imageCreatedAt`
			,`imageUpdatedAt`
 		FROM
 			placeimage
 		WHERE
 			`placeId` = #{id}
 	</select>
	<delete id="deletePlaceImageListById" parameterType="com.FirstProject.goodplace.model.Place">
 		DELETE FROM placeimage
 		WHERE
 			`placeId` = #{id}
 	</delete>

</mapper>